/* Aside */

body {
    background-color: #f7f7f7;
}

aside {
    height: calc(100vh - 190px);
    margin-top: 95px;
    width: 100%;
    max-width: 460px;
    padding: 1rem;
    border: 1px solid #DDD;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    transition: all .5s ease-out;
    transform: translateX(-460px);
    ul {
        padding-left: 0;
        list-style-type: none;
        li {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
        }
    }
}

/* Header proyecto */
.header-proyecto {
    position: relative;
    color: #666;
}

.header-proyecto .nombre-proyecto {
    font-size: 3rem;
    margin-right: 2.2rem;
    margin-bottom: 1rem;
}

.header-proyecto .nombre-proyecto small {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.header-proyecto .icon-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.acciones-proyecto {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DDD;
    padding: .5rem 0;
    /* border-bottom: 1px solid #DDD; */
}

.acciones-proyecto .btn {
    border: none;
    width: 40px;
    height: 40px;
    padding: .5rem !important;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acciones-proyecto .btn i {
    font-size: 1rem;
}

.acciones-proyecto .btn span {
    font-size: 0.6rem;
    display: block;
    font-weight: 700;
}

/* Acordion */

.cont-acordion {
    width: 100%;
}

.header-acordion {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    cursor: pointer;
    color: #666;
    transition: all .2s ease-out;
    border-bottom: 1px solid #DDD;
     border-left: 2px solid #666; 
     &:hover {
        background-color: #CCC;
        color: #FFF;
     }
     .titulo-acordion {
        font-weight: 700;
        font-size: .8rem;
        text-transform: uppercase;
    }
}

.body-proyecto {
    height: calc(100vh - 370px);
    overflow: hidden;
    overflow-y: auto;
    ul {
        margin-bottom: 0;
    }
}


/* Lista Info Predio */

.lista-predio {
    padding-left: 0;
    list-style-type: none;
    li {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .label-accordion,
        .label-valor {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 700;
            color: #999;
        }
        .label-valor {
            color: #666;
        }
    }
}

/* Lista de documentos */

.doc-list {

}

.item-doc {
    padding-left: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;
    .icon-btn {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

.foto {
    display: flex;
    align-items: center;
}

.foto-doc {
    width: 50px;
    height: 40px;
    background-color: #CCC;
    margin-right: 1rem;
}

.cont-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}