.buscador {
  max-width: 1000px;
}

.buscador .form-control {
  border-radius: 0;
}

.buscador .form-control::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buscador .form-control:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buscador .form-control::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buscador .form-control::placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buscador select {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buscador select.form-control {
  height: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/arrow.svg) no-repeat right #FFF;
  background-position-x: 98%;
}

.buscador-mobile {
  max-width: 768px;
  display: none;
}

.header-tools-int {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-tools-int .icon-btn {
  background-color: transparent;
  color: #FFF;
}

.header-tools-int a {
  text-decoration: none;
  margin-right: 1rem;
}

@media (max-width: 991.98px) {
  .buscador-mobile {
    display: block;
  }
  .buscador-desktop {
    display: none;
  }
}
/*# sourceMappingURL=buscador.css.map */