.buscador {
    max-width: 1000px;
    .form-control {
        border-radius: 0;
        &::placeholder {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }
    select {
        text-transform: uppercase;
        font-size: 0.8rem;
        &.form-control {
            height: 38px;
            appearance: none;
            background: url(../images/arrow.svg) no-repeat right #FFF;
            background-position-x: 98%;
        }
    }
}

.buscador-mobile {
    max-width: 768px;
    display: none;
}

.header-tools-int {
    width: 120px;
    display: flex;
    justify-content: flex-end;
    .icon-btn {
        background-color: transparent;
        color: #FFF;
    }
    a{
        text-decoration: none;
        margin-right: 1rem;
        &:hover {
            // color: #008AD8;
        }
    }
}

@media (max-width: 991.98px) { 
    .buscador-mobile {
        display: block;
    }
    .buscador-desktop {
        display: none;
    }
 }