/* Buttons */

.icon-btn {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 2px solid transparent;
}

.icon-btn:hover {
    border: 2px solid #DDD;;
    color: #DDD;
}

.icon-btn.icon-btn-close:hover {
    border: 2px solid #F93822;;
    color: #F93822;
}