/* Buttons */
.icon-btn {
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.icon-btn:hover {
  border: 2px solid #DDD;
  color: #DDD;
}

.icon-btn.icon-btn-close:hover {
  border: 2px solid #F93822;
  color: #F93822;
}
/*# sourceMappingURL=buttons.css.map */