// @import url(https://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css);


// Vars 

$transition-fab: all .1s ease-out;
$transition-fab2: all .2s ease-out;
$transition-delay-fab: 25ms;
$transition-delay-fab2: 20ms;
$transition-delay-fab3: 40ms;
$transition-delay-fab4: 60ms;
$transition-delay-fab5: 80ms;


/*Floating Action Button*/

.fabs {
  bottom: 100px;
  position: fixed;
  margin: 1em;
  right: 2rem;
}

.fab-archimaker {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  background: #FFD700;
  margin: 25px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  transition: $transition-fab;
  position: relative;
  z-index: 998;
  overflow: hidden;
  & >i {
    font-size: 2em;
    line-height: 55px;
    transition: $transition-fab2;
  }
  &:not(:last-child) {
    width: 0;
    height: 0;
    margin: 20px auto 0;
    opacity: 0;
    visibility: hidden;
  }
  &:not(:last-child) > i {
    font-size: 1.4em;
    line-height: 40px;
  }
  &:not(:last-child).is-visible {
    width: 40px;
    height: 40px;
    margin: 15px auto 10;
    opacity: 1;
    visibility: visible;
  }
    &:nth-last-child(1) {
    transition-delay: $transition-delay-fab;
  }
  
  &:not(:last-child):nth-last-child(2) {
    transition-delay: $transition-delay-fab2;
  }
  
  &:not(:last-child):nth-last-child(3) {
    transition-delay: $transition-delay-fab3;
  }
  
  &:not(:last-child):nth-last-child(4) {
    transition-delay: $transition-delay-fab4;
  }
  
  &:not(:last-child):nth-last-child(5) {
    transition-delay: $transition-delay-fab5;
  }
  
  &:not(:last-child):active,
  &:not(:last-child):focus,
  &:not(:last-child):hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }
}

.fab-archimaker .cont-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}


.fab_field {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #eceff1;
  box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  a {
    display: inline-block;
    text-align: center;
  }
}


#fab_listen {
  float: left;
  background: rgba(0, 0, 0, 0);
}

#fab_send {
  float: right;
  background: rgba(0, 0, 0, 0);
}

.fab_field {
    .fab {
        width: 35px;
        height: 35px;
        box-shadow: none;
        margin: 5px;
      }
      .fab>i {
        font-size: 1.6em;
        line-height: 35px;
        color: #263238;
      }
}


/*Element state*/

.is-active {
  transform: rotate(180deg);
  transition: all 1s ease-in-out;
}

.is-float {
  box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

.is-max {
  box-shadow: inset 0 -12px 10px -10px rgba(0, 0, 0, 0.18), inset 0 12px 10px -10px rgba(0, 0, 0, 0.10);
}

.is-loading {
  display: block;
  animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
}


/*Animation*/

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes load {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 300px) {
  .chat {
    width: 200px;
  }
}
/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {
  .chat {
    width: 400px;
  }
  .chat_field {
    width: 65%;
  }
}


/* Ripple */

.ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  transform: scale(0);
}
/*animation effect*/

.ink.animate {
  animation: ripple 0.5s ease-in-out;
}

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  
  100% {
    opacity: 0;
    transform: scale(5);
  }
}