@font-face {
  /* font-family: 'Morganite'; */
  font-family: Morganite-Medium;
  src: url("../fonts/Morganite-Medium.eot");
  src: url("../fonts/Morganite-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Morganite-Medium.woff2") format("woff2"), url("../fonts/Morganite-Medium.woff") format("woff"), url("../fonts/Morganite-Medium.ttf") format("truetype"), url("../fonts/Morganite-Medium.svg#Morganite-Medium") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* font-family: 'Morganite'; */
  font-family: Morganite-ExtraBold;
  src: url("../fonts/Morganite-ExtraBold.eot");
  src: url("../fonts/Morganite-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Morganite-ExtraBold.woff2") format("woff2"), url("../fonts/Morganite-ExtraBold.woff") format("woff"), url("../fonts/Morganite-ExtraBold.ttf") format("truetype"), url("../fonts/Morganite-ExtraBold.svg#Morganite-ExtraBold") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
/*# sourceMappingURL=fonts.css.map */