/* Footer */


.archimaker-footer {
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    background-color: #111;
    z-index: 2;
    img {
        width: 85px;
        height: auto;
      }
  }
  
  .redes-sociales {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
    float: right;
    margin-right: 4rem;
    li {
        padding-left: 0;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        margin-right: 24px;
        a {
            color: rgba(255,255,255,.5);
            width: 36px;
            height: 36px;
            font-size: 36px;
            transition: all .3s ease-out;
            color: #FFF;
            &.hover {
                color: #FFD700;
            }
          }
      }
  }
  

  .redes-sociales li:last-child {
    margin-right: 0;
  }
  
  .data-archimaker {
    display: flex;
    align-items: center;
    color: #CCC;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    i {
        font-size: 24px;
        color: #111;
      }
      a {
        color: #ccc;
        &:hover {
            color: #FFD700;
            text-decoration: underline;
        }
      }
  }
  
  .data {
    margin-left: 2rem;
  }
  
  .btn-archimaker {
    padding: 10px 40px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    transition: all .3s ease-out;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
        text-decoration: none;
    }
  }
  
  .btn-primary {
    color: #fff;
    background-color: #008AD8;
    border-color: #008AD8;
  }
  
  /* Footer Light */
  
  .archimaker-footer.light {
    background-color: transparent;
    border-top: none;
    background-color: #FFD700;
  }
  
  .archimaker-footer.light {
    .redes-sociales {
        li {
            a {
                color: rgba(0,0,0,.5);
              } 
              &:hover {
                color: #FFD700;
              }
        }
    }
  }
  
  
  .archimaker-footer.light  .redes-sociales li a {
    color: #111;
  }
  
  .archimaker-footer.light .data-archimaker a {
    color: #111;
  }


  @media (max-width: 991.98px) {
    .data-archimaker a {
      font-size: .8rem;
    }

    footer {
        padding: 20px;
      background-color: #111;
        .redes-sociales {
            a {
                color: #FFF !important;
              }
            li {
            margin-right: 12px;
            a {
                font-size: 30px;
                }
            }
        }
        .logo-mobile {
            max-width: 85px;
          }
          ul {
            margin-top: 0;
          }
    }

    .cont-link-contacto, .cont-link-contacto a {
      color: #FFF;
    }

  .cont-link-contacto a:hover {
      color: #FFD700;
    }


  }