/* Footer */
.archimaker-footer {
  display: inline-block;
  width: 100%;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  background-color: #111;
  z-index: 2;
}

.archimaker-footer img {
  width: 85px;
  height: auto;
}

.redes-sociales {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 0;
  float: right;
  margin-right: 4rem;
}

.redes-sociales li {
  padding-left: 0;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.redes-sociales li a {
  color: rgba(255, 255, 255, 0.5);
  width: 36px;
  height: 36px;
  font-size: 36px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #FFF;
}

.redes-sociales li a.hover {
  color: #FFD700;
}

.redes-sociales li:last-child {
  margin-right: 0;
}

.data-archimaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CCC;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.data-archimaker i {
  font-size: 24px;
  color: #111;
}

.data-archimaker a {
  color: #ccc;
}

.data-archimaker a:hover {
  color: #FFD700;
  text-decoration: underline;
}

.data {
  margin-left: 2rem;
}

.btn-archimaker {
  padding: 10px 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-archimaker:hover {
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #008AD8;
  border-color: #008AD8;
}

/* Footer Light */
.archimaker-footer.light {
  background-color: transparent;
  border-top: none;
  background-color: #FFD700;
}

.archimaker-footer.light .redes-sociales li a {
  color: rgba(0, 0, 0, 0.5);
}

.archimaker-footer.light .redes-sociales li:hover {
  color: #FFD700;
}

.archimaker-footer.light .redes-sociales li a {
  color: #111;
}

.archimaker-footer.light .data-archimaker a {
  color: #111;
}

@media (max-width: 991.98px) {
  .data-archimaker a {
    font-size: .8rem;
  }
  footer {
    padding: 20px;
    background-color: #111;
  }
  footer .redes-sociales a {
    color: #FFF !important;
  }
  footer .redes-sociales li {
    margin-right: 12px;
  }
  footer .redes-sociales li a {
    font-size: 30px;
  }
  footer .logo-mobile {
    max-width: 85px;
  }
  footer ul {
    margin-top: 0;
  }
  .cont-link-contacto, .cont-link-contacto a {
    color: #FFF;
  }
  .cont-link-contacto a:hover {
    color: #FFD700;
  }
}
/*# sourceMappingURL=footer.css.map */