/* Forms */
.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #FFD700;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999;
}

.form-control:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999;
}

.form-control::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999;
}

.form-control::placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #27AE60;
  background-color: #27AE60;
}
/*# sourceMappingURL=forms.css.map */