/* Forms */

.form-control {
    border-radius: 0;
    &:focus {
        border-color: #FFD700;
        box-shadow: none;
    }
    &::placeholder {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #999;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #27AE60;
    background-color: #27AE60;
}