/* General */
html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Morganite-Medium, Arial, Helvetica, sans-serif;
  /* font-weight: 300; */
  letter-spacing: 1px;
}

body.safari {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  list-style-position: 0;
}

body.safari h1, body.safari h2, body.safari h3, body.safari h4, body.safari h5, body.safari h6 {
  font-family: Arial, Helvetica, sans-serif !important;
  /* font-weight: 300; */
  letter-spacing: 0;
}

hr {
  display: none !important;
}

header {
  width: 100%;
  padding: 20px 40px;
  background-color: #111;
  position: fixed;
  z-index: 10;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  width: 85px;
}

.header-tools {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 10px 56px;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #008AD8;
  border-color: #008AD8;
}

.btn-danger {
  background-color: #F93822;
  border-color: #F93822;
}

.btn-dark {
  background-color: #111;
  border-color: #111;
}

.border-img {
  /* padding: 1rem; */
  /* border: 1px solid rgba(255, 255, 255, .3) */
}

.modal-header .close {
  font-size: 4rem;
  font-weight: 400;
  outline: none;
}

.alert-link {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 500px;
  bottom: 80px;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.input-url {
  background-color: #111;
  color: #111;
  border: none;
  opacity: 0;
  cursor: default;
}

.btn-copy {
  padding: 10px 36px;
}

/* Mediaqueries */
@media (max-width: 991.98px) {
  header {
    padding: 20px;
  }
  .btn {
    padding: 10px;
  }
  .header-tools {
    width: 190px;
  }
}
/*# sourceMappingURL=general.css.map */