.loader {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #111;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    i {
        color: #FFF;
    }
    img {
        width: 100px;
        margin-bottom: 2rem;
    }
    &.hidden {
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
