/* Map */
.mask-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background-color: #FFD700;
}

.cont-map {
  height: 100vh;
  width: 100vw;
}

.cont-map iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=map.css.map */