/* Panel de control */
.panel-control {
  height: 100%;
  width: 100%;
  height: calc(100vh - 180px);
  margin-top: 90px;
  padding: 2rem;
  background-color: #fff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.panel-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.panel-content .icon-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.panel-content .card {
  border-radius: 0;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.panel-content .card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.panel-content .card .card-title {
  color: #777;
}

.panel-content .card .card-title small {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}

.panel-content .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-content .acciones-proyecto {
  border-top: none;
}

.nav-proyectos .nav-link {
  text-transform: uppercase;
  color: #CCC;
  font-size: .8rem;
  font-weight: 700;
  padding: 0 3rem;
  padding-bottom: 1rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border-bottom: 2px solid #CCC;
}

.nav-proyectos .nav-link.active {
  border-bottom: 2px solid #666;
  color: #666;
}

.tab-content {
  padding: 1rem 0;
}

.tab-content-archimaker {
  height: calc(100vh - 320px);
  overflow: hidden;
  overflow-y: auto;
}

.cont-img-top {
  height: 10rem;
  overflow: hidden;
}

.cont-img-top img {
  -o-object-fit: cover;
     object-fit: cover;
}

.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.data-user {
  max-width: 600px;
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.data-user h1 {
  font-size: 4rem;
}

.data-user h1 span {
  display: block;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #666;
}

.data-user h1 small {
  display: block;
  text-transform: uppercase;
  color: #666;
  font-size: 1.6rem;
}

.data-user .avatar-user {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 2rem;
}

.data-user .avatar-user img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 100px;
}

.data-user .header-data-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-proyecto {
  font-size: .8rem;
}

.data-proyecto ul {
  padding-left: 0;
  list-style-type: none;
}

.data-proyecto ul span {
  font-weight: 700;
  color: #666;
}
/*# sourceMappingURL=panel-control.css.map */