/* Panel de control */

.panel-control {
    height: 100%;
    width: 100%;
    height: calc(100vh - 180px);
    margin-top: 90px;
    padding: 2rem;
    background-color: #fff;
    transition: all .5s ease-out;
    transform: translateX(-100vw);
}

.panel-content {
    width: 100%;
    height: 100%;
    position: relative;
    .icon-btn {
        position: absolute;
        top: -1rem;
        right: -1rem;
    }
    .card {
        border-radius: 0;
        width: 100%;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
        .card-title {
            color: #777;
            small {
                display: block;
                font-family: 'Montserrat', sans-serif;
                font-size: .8rem;
            }
        }
    }
    .card-img-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .acciones-proyecto {
        border-top: none;
    }
}

.nav-proyectos {
    .nav-link {
      text-transform: uppercase;
      color: #CCC;
      font-size: .8rem;
      font-weight: 700;
      padding: 0 3rem;
      padding-bottom: 1rem;
      transition: all .3s ease-out;
      border-bottom: 2px solid #CCC;
      &.active {
          border-bottom: 2px solid #666;
          color: #666;
      }
    }
  }

  .tab-content {
      padding: 1rem 0;
  }
  
  .tab-content-archimaker{
    // border: 1px solid red;
      height: calc(100vh - 320px);
    overflow: hidden;
    overflow-y: auto;
  }

  .cont-img-top {
    height: 10rem;
    overflow: hidden;
    img{
        object-fit: cover;
    }
  }

  .open {
      transform: translateX(0);
  }

  .data-user {
      max-width: 600px;
      display: block;
      width: 100%;
      margin-top: 2rem;
      h1 {
          font-size: 4rem;
          span {
              display: block;
              font-size: 1rem;
              font-family: 'Montserrat', sans-serif;
              color: #666;
          }
          small {
              display: block;
              text-transform: uppercase;
              color: #666;
              font-size: 1.6rem;
          }
      }
      .avatar-user {
          width: 150px;
          height: 150px;
          border-radius: 100px;
          margin-right: 2rem;
          img {
            object-fit: cover;
            width: 100%;
            border-radius: 100px;
          }
      }
      .header-data-user {
          display: flex;
          align-items: center;
      }
  }

  .data-proyecto {
      font-size: .8rem;
      ul {
          padding-left: 0;
          list-style-type: none;
          span {
              font-weight: 700;
              color: #666;
          }
      }
  }