/* Seccion 7 */

.cont-animacion {
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.seccion7 {
    .section-inner {
        padding-bottom: 8rem;
    }
}

@media (max-width: 991.98px) {
    .seccion7 {
        height: auto !important;
        .section-inner {
            padding-bottom: 0;
        }
    }
}