/* Seccion 4 */
.seccion4 {
  color: #111;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  height: auto;
  min-height: 0;
  margin-top: 91px;
}

.seccion4 .section-inner {
  padding: 8rem 0;
}

.seccion4 * {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.seccion4 h1 {
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.seccion4 .cont-btn {
  margin-top: 4rem;
}

.seccion4 hr {
  /* border-top: 1px solid rgba(255, 255, 255, .7); */
  margin: 2rem 0;
  display: none;
}

.seccion4 strong {
  display: block;
}

.seccion4 img {
  max-width: 550px;
  /* padding: 1rem;
        border: 1px solid rgba(255, 255, 255, .7) */
}

.seccion4 .cont-features {
  margin-bottom: 6rem;
}

.toggleSection {
  height: 0;
  opacity: 0;
}

.toggleSection * {
  opacity: 0;
  display: none;
}

@media (max-width: 991.98px) {
  .seccion4 {
    height: auto;
  }
  .seccion4 img {
    width: 100%;
    max-width: 1000px;
  }
  .seccion4 .section-inner {
    padding: 1rem 0;
  }
  .seccion4 h1 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .seccion4 .cont-features {
    margin-bottom: 2rem;
  }
  .frase-conozca {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=seccion4.css.map */