@charset "UTF-8";
/* Sección 6 */
.seccion6 .section-inner {
  padding-top: 0;
}

.seccion6 .cont-analitica {
  margin: 2rem 0;
  margin-top: 0;
  padding: 4rem 0;
  padding-top: 0;
  /*     border-top: 1px solid rgba(255,255,255,.3);
        border-bottom: 1px solid rgba(255,255,255,.3); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.seccion6 .cont-valor {
  width: 300px;
  height: 200px;
  border-radius: 150px;
  /* background-color: #FFD700; */
  color: #111;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  padding-top: 0;
}

.seccion6 .cont-valor .leyenda {
  line-height: 1rem;
  color: #FFF;
  text-transform: uppercase;
}

.seccion6 .cont-valor .valor small {
  font-size: 1rem;
  margin-left: -0.5rem;
}

.seccion6 h1 {
  font-size: 4rem;
  margin-top: 6rem;
}

.seccion6 h2 {
  font-size: 6rem;
}

.seccion6 .valor {
  font-size: 4rem;
  color: #FFF;
}

body.safari .seccion6 h1 {
  font-size: 32px;
}

body.safari .seccion6 h2 {
  font-size: 40px;
}

@media (max-width: 767.98px) {
  .seccion6 .cont-analitica {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccion6 .cont-valor {
    padding-bottom: 0;
    height: 160px;
  }
}

@media (max-width: 991.98px) {
  .seccion6 .cont-analitica {
    padding-top: 0;
    margin: 0;
  }
  .seccion6 .cont-valor {
    padding-top: 0;
  }
  .seccion6 h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .seccion6 h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=seccion6.css.map */