/* Secciones */
.seccion1 {
  margin-top: 91px;
}

.seccion1 h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 500;
  color: #111;
  text-align: center;
}

body.safari .seccion1 h1 {
  font-size: 32px;
}

section h1 small {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.cont-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

.cont-video iframe,
.cont-video object,
.cont-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mediaqueries */
@media (max-width: 991.98px) {
  .seccion1 h1 {
    font-size: 3rem;
  }
}

/* Safari Browser */
body.safari .seccion h1 {
  font-size: 20px;
}
/*# sourceMappingURL=seccion1.css.map */