/* Seccion 2 */

.seccion2 {
    color: #FFF;
    .seccion-credibilidad {
        display: flex;
        /* max-width: 900px; */
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 2rem;
    }
    h1 {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: 3.6rem;
        /* font-size: 1.6rem; */
        font-weight: 500;
        /* font-family: 'Montserrat', snas-serif !important; */
    }
}

body.safari {
    .seccion2 {
        h1 {
            font-size: 32px;
        }
    }
}

.cont-logo {
    /* width: 300px; */
    padding: 10px;
    text-align: center;
}

.seccion2 {
    .cont-logo {
        padding: 10px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 106px;
            width: auto;
            max-width: 172px;
        }
    }
}

 /* Mediaqueries */


 @media (max-width: 991.98px) {

     .seccion2 {
        .cont-logo {
            margin-bottom: 1rem;
            width: 100%;
            height: auto;
            max-height: 100px;
            /* border-bottom: 1px solid rgba(255,255,255, .2); */
            padding-bottom: 1rem;
            &:last-child {
                border-bottom: none;
            }
            img {
                max-width: 100px;
            }
        }
        h1 {
            font-size: 2.6rem;
        }
     }
 }

 @media (max-width: 767.98px) {
    .seccion2 {
        h1 {
            margin-bottom: 0;
        }
        .seccion-credibilidad {
            flex-direction: column;
            margin-top: 2rem;
        }
        .cont-logo {
            img {
                max-width: 150px;
            }
        }
    }
 }
