/* Sección 6 */

.seccion6 {
    .section-inner {
        padding-top: 0;
    }
    .cont-analitica {
        margin: 2rem 0;
        margin-top: 0;
        padding: 4rem 0;
        padding-top: 0;
    /*     border-top: 1px solid rgba(255,255,255,.3);
        border-bottom: 1px solid rgba(255,255,255,.3); */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .cont-valor {
        width: 300px;
        height: 200px;
        border-radius: 150px;
        /* background-color: #FFD700; */
        color: #111;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        padding-top: 0;
        .leyenda {
            line-height: 1rem;
            color: #FFF;
            text-transform: uppercase;
        }
        .valor {
            small {
                font-size: 1rem;
                margin-left: -0.5rem;
            }
        }
    }
    h1 {
        font-size: 4rem;
        margin-top: 6rem;
    }
    h2 {
        font-size: 6rem;
    }
    .valor {
        font-size: 4rem;
        color: #FFF;
    }
}

body.safari {
    .seccion6 {
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 40px;
        }
    }
}

@media (max-width: 767.98px) {
    .seccion6 {
        .cont-analitica {
            flex-direction: column;
        }
        .cont-valor {
            padding-bottom: 0;
            height: 160px;
        }
    }
}

@media (max-width: 991.98px) {
    .seccion6 {
        .cont-analitica {
            padding-top: 0;
            margin: 0;
        }
        .cont-valor {
            padding-top: 0;
        }
        h1 {
            margin-top: 2rem;
            font-size: 2rem;
        }
        h2 {
            font-size: 3rem;
        }
    }
    
}