/* Seccion 7 */
.cont-animacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

video {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.seccion7 .section-inner {
  padding-bottom: 8rem;
}

@media (max-width: 991.98px) {
  .seccion7 {
    height: auto !important;
  }
  .seccion7 .section-inner {
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=seccion7.css.map */