/* Seccion 5 */
.seccion5 {
  height: auto;
}

.seccion5 .section-inner {
  padding-bottom: 0;
  min-height: 0;
  padding: 4rem 0;
  padding-bottom: 0;
}

.seccion5 .cont-logo {
  height: 200px;
  margin: 0 auto;
  /*     margin-bottom: 2rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* padding: 10px; */
}

.seccion5 .cont-logo img {
  max-height: 150px;
}

.seccion5 .cont-logos {
  /* margin-bottom: 4rem; */
  border-bottom: 1px;
}

.seccion5 .nombre-tester {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
  color: #FFF;
  display: none;
}

.seccion5 h1 {
  font-size: 4rem;
  color: #FFF;
}

.seccion5 h2 {
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.seccion5 h4 {
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 1rem;
}

body.safari .seccion5 h1 {
  font-size: 32px;
}

@media (max-width: 991.98px) {
  .seccion5 .nombre-tester {
    margin-bottom: 1rem;
    /*  display: inline-block; */
    color: #FFF;
  }
  .seccion5 .cont-logo {
    height: auto;
    margin-bottom: 2rem;
    /* border-top: 1px solid rgba(255,255,255,.3); */
    padding-top: 2rem;
  }
  .seccion5 .cont-logo img {
    max-width: 200px;
  }
  .seccion5 h1 {
    font-size: 2rem;
    color: #FFF;
  }
}
/*# sourceMappingURL=seccion5.css.map */