/* Seccion 3 */

.seccion3 {
    color: #FFF;
    ul {
        list-style-type: none;
        font-weight: 500;
        /* font-family: 'Morganite', sans-serif; 
        font-size: 2rem;
        text-transform: uppercase;*/
        font-size: 1.2rem;
        display: block;
        margin: 0 auto;
        margin-top: 12rem;
        margin-bottom: 2rem;
        padding-left: 0;
        max-width: 650px;
        strong {
            font-weight: 800;
        }
        li {
            padding-left: 0;
            /* text-align: right; */
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn {
        margin-top: 1rem;
    }
    img {
        filter: grayscale(100%);
    }
}

.frase-conozca {
    max-width: 400px;
    display: inline-block;
}

 /* Mediaqueries */

 @media (max-width: 991.98px) {

    .seccion3 {
        ul {
            padding-left: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            text-transform: none;
            margin-top: 0;
            li {
                text-align: center;
            }
        }
    }
 }