/* Seccion 3 */
.seccion3 {
  color: #FFF;
}

.seccion3 ul {
  list-style-type: none;
  font-weight: 500;
  /* font-family: 'Morganite', sans-serif; 
        font-size: 2rem;
        text-transform: uppercase;*/
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 2rem;
  padding-left: 0;
  max-width: 650px;
}

.seccion3 ul strong {
  font-weight: 800;
}

.seccion3 ul li {
  padding-left: 0;
  /* text-align: right; */
  margin-bottom: 1rem;
}

.seccion3 ul li:last-child {
  margin-bottom: 0;
}

.seccion3 .btn {
  margin-top: 1rem;
}

.seccion3 img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.frase-conozca {
  max-width: 400px;
  display: inline-block;
}

/* Mediaqueries */
@media (max-width: 991.98px) {
  .seccion3 ul {
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-transform: none;
    margin-top: 0;
  }
  .seccion3 ul li {
    text-align: center;
  }
}
/*# sourceMappingURL=seccion3.css.map */