section {
    /* height: calc(100vh - 100px); */
    
 }
 
 .section-inner {
     height: 100%;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     background-attachment: fixed;
     padding: 4rem;
     min-height: calc(100vh - 180px);
 }
 
 .color1 {
     background-image: url(../images/fondo12.jpg);
     background-blend-mode: multiply;
     background-color: #FFD700;
 }
 .color2 {
     background-color: #008AD8;
     
 }
 .color3 {
    background-image: url(../images/fondo13.jpg);
    background-blend-mode: multiply;
     background-color: #AD96DC;
     
     
 }
 .color4 {

     background-color: #F93822;
 }
 
 .color5 {
     background-color: #FFD700;
 }
 
 .color6 {
     background-blend-mode: multiply;
     background-color: #008AD8;
 }
 .color7 {
     background-blend-mode: multiply;
     background-color: #111;
    
 }

 /* Mediaqueries */

 @media (max-width: 767.98px) {
     .color3 {
         background-image: none;
     }
 }


@media (max-width: 991.98px)  {
    .section-inner {
        padding: 40px 0;
        min-height: 0;
    }
}