/* Seccion 5 */

.seccion5 {
    height: auto;
    .section-inner {
        padding-bottom: 0;
        min-height: 0;
        padding: 4rem 0;
        padding-bottom: 0;
    }
    .cont-logo {
        height: 200px;
        margin: 0 auto;
    /*     margin-bottom: 2rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        img {
            max-height: 150px;
        }
    }
    .cont-logos {
        /* margin-bottom: 4rem; */
        border-bottom: 1px ;
    }
    .nombre-tester {
        text-transform: uppercase;
        font-weight: 500;
        font-size: .8rem;
        color: #FFF;
        display: none;
    }
    h1 {
        font-size: 4rem;
        color: #FFF;
    }
    h2 {
        margin-bottom: 2rem;
        margin-top: 4rem;
        font-family: 'Montserrat', sans-serif;
    }
    h4 {
        margin-bottom: 4rem;
        font-weight: 700;
        font-size: 1rem;
    }
}

body.safari {
    .seccion5 h1 {
        font-size: 32px;
    }
}


@media (max-width: 991.98px) {
    .seccion5 {
        .nombre-tester {
            margin-bottom: 1rem;
           /*  display: inline-block; */
            color: #FFF;
        }
        .cont-logo {
            height: auto;
            margin-bottom: 2rem;
            /* border-top: 1px solid rgba(255,255,255,.3); */
            padding-top: 2rem;
            img {
                max-width: 200px;
            }
        }
        h1 {
            font-size: 2rem;
            color: #FFF;
        }
    }

}