/* Seccion 4 */


.seccion4 {
    color: #111;
    transition: all .3s ease-out;
    height: auto;
    min-height: 0;
    margin-top: 91px;
    .section-inner {
        padding: 8rem 0;
    }
    * {
        transition: all .3s ease-out;
    }
    h1 {
        margin-bottom: 3rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }
    .cont-btn {
        margin-top: 4rem;
    }
    hr {
        /* border-top: 1px solid rgba(255, 255, 255, .7); */
        margin: 2rem 0;
        display: none;
    }
    strong {
        display: block;
    }
    img {
        max-width: 550px;
        /* padding: 1rem;
        border: 1px solid rgba(255, 255, 255, .7) */
    }
    .cont-features {
        margin-bottom: 6rem;
    }
}


.toggleSection {
    height: 0;
    opacity: 0;
}

.toggleSection {
    * {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 991.98px) {
    .seccion4 {
        height: auto;
        img {
            width: 100%;
            max-width: 1000px;
        }
        .section-inner {
            padding: 1rem 0;
        }
        h1 {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        .cont-features {
            margin-bottom: 2rem;
        }
    }
    .frase-conozca {
        margin: 1rem 0;
    }
}