/* Seccion 2 */
.seccion2 {
  color: #FFF;
}

.seccion2 .seccion-credibilidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 900px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
}

.seccion2 h1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  /* font-size: 1.6rem; */
  font-weight: 500;
  /* font-family: 'Montserrat', snas-serif !important; */
}

body.safari .seccion2 h1 {
  font-size: 32px;
}

.cont-logo {
  /* width: 300px; */
  padding: 10px;
  text-align: center;
}

.seccion2 .cont-logo {
  padding: 10px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion2 .cont-logo img {
  max-height: 106px;
  width: auto;
  max-width: 172px;
}

/* Mediaqueries */
@media (max-width: 991.98px) {
  .seccion2 .cont-logo {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    max-height: 100px;
    /* border-bottom: 1px solid rgba(255,255,255, .2); */
    padding-bottom: 1rem;
  }
  .seccion2 .cont-logo:last-child {
    border-bottom: none;
  }
  .seccion2 .cont-logo img {
    max-width: 100px;
  }
  .seccion2 h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 767.98px) {
  .seccion2 h1 {
    margin-bottom: 0;
  }
  .seccion2 .seccion-credibilidad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .seccion2 .cont-logo img {
    max-width: 150px;
  }
}
/*# sourceMappingURL=seccion2.css.map */