/* Z Index components */

.mask-map, .panel-control, aside {
    position: absolute;
    top: 0;
}

.mask-map {
    z-index: 1;
}

.fabs {
    z-index: 2;
}

.panel-control {
    z-index: 3;
}

aside {
    z-index: 4;
}